.constructor {
	height: calc(100vh - 150px);

	/* display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: flex-end; */
}

.bun {
	border: 1px solid transparent;
	border-radius: 10px;
	transition: border-color 0.3s ease-in-out;
}
.drop-bun {
	border: 1px solid rgb(209, 69, 241);
	transition: border-color 0.3s ease-in-out;
}

.over-bun {
	border: 1px solid rgb(172, 250, 123);
	transition: border-color 0.3s ease-in-out;
}
