.details {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; */
  display: grid;
  grid-template-columns: 70px auto 140px;
  align-items: center;
  gap: 20px;
  margin-right: 0px;
  margin-bottom: 16px;
}

.text {
  text-align: start;
}