.place-order {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
}

.price {
	display: flex;
	align-items: center;
	gap: 10px;
}
.loading {
	position: absolute;
	left: 0;
	background: linear-gradient(90deg, #ff0080, #7928ca, #9df0e5);
	background-size: 300% 300%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient-load 4s ease infinite;
}

@keyframes gradient-load {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
