.element {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	gap: 4px;
	background-color: #2f2f37;
	border-radius: 40px;
	border: 1px solid transparent;
}

.top {
	border-radius: 88px 88px 40px 40px;
}

.bot {
	border-radius: 40px 40px 88px 88px;
}
